---
---
$white: rgb(240, 240, 240);
$whiteGray: rgb(220, 220, 220);
$lightGray: rgb(180, 180, 180);
$middleGray: rgb(120, 120, 120);
$darkGray: rgb(60, 60, 60);
$darkShadow: rgba(30, 30, 30, 1);
$transparent: rgba(255, 255, 255, 0);

$whiteBlue: rgb(195, 206, 247);
$lightBlue: rgb(140, 189, 255);
$darkBlue: rgb(21, 52, 119);
$navyBlue: rgb(0, 23, 61);

$sideBarWidth: 300px;

$defaultFontColor: rgb(40, 40, 40);
$whiteFontColor: rgb(240, 240, 240);
$middleToneFontColor: rgb(80, 80, 80);
$darkFontColor: rgb(20, 20, 20);

$transitionSlow: 300ms;
$transitionNormal: 150ms;
$transitionFast: 100ms;

$minResolution: 1024px;

$fontSizeH1: 1.75rem;
$fontSizeArticleTitle: 1.50rem;
$fontSizeArticle: 1.25rem;
$fontSizeDefault: 1.00rem;
$fontSizeSmall: 0.90rem;
$fontSizeNavTop: 1.25rem;
$fontSizeFooter: 1.50rem;

html
{
	height: 100%;
	min-width: $minResolution;
	margin: 0;
	padding: 0;
	background: linear-gradient(to left, $whiteBlue $sideBarWidth, $darkShadow 3px, $white $sideBarWidth + 3px);
	color: $defaultFontColor;
	font: normal 100%/1.4 liberation sans, serif;
}

body
{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p
{
	font-size: $fontSizeArticle;
	padding-left: 20px;
}

strong
{
	font-size: $fontSizeArticle;
}

.center-image
{
	margin: 0 auto;
	display: block;
}

.drop-shadow-image
{
	box-shadow: 0 0 4px 1px $darkShadow;
}

.news-list
{
	list-style-type: none;

	.news-topic
	{
		margin-bottom: 40px;
		padding: 0 20px 10px 0;
		color: $whiteGray;
		background-color: $darkGray;
		border-radius: 5px;
		box-shadow: 2px 2px 3px 1px $darkShadow;

		a
		{
			margin: 0;
			padding: 5px 5px 5px 5px;
			color: $navyBlue;
			border-radius: 8px;
			background-color: $lightBlue;
			text-decoration: none;
			box-shadow: 3px 3px 2px 1px $darkShadow;

			&:hover
			{
				color: $white;
				background-color: $darkBlue;
				font-weight: bold;
				transition: color $transitionFast linear, background-color $transitionFast linear, font-weight $transitionFast linear;
			}
		}

		p
		{
			font-size: $fontSizeDefault;
		}
	}
	
}

.portrait-anim
{
	margin-top: 10px;
	display: inline-block;
	position: relative;
	border-radius: 160px;
	width: 160px;
	height: 160px;
	box-shadow: inset 0px 0px 10px 2px $darkShadow;
	background: url('../img/avatar_portrait_2.jpg');
	background-size: 160px 160px;

	&:hover
	{
		background: url('../img/avatar_portrait_anim.gif');
		background-size: 160px 160px;
		z-index: initial;
	}
}

.under-construction
{
	text-align: center;

	h2
	{
		margin-bottom: 40px;
	}

	.under-construction-effects
	{
		display: inline-block;
		position: relative;
		width: 640px;
		height: 320px;
		margin: 0;
		padding: 0;
		box-shadow: inset 0px 0px 10px 5px $darkShadow;

		img
		{
			position: relative;
			z-index: -1;
		}
	}
}

.container
{
	margin-bottom: 100px;
	min-height: 100%;

	.content
	{
		overflow: auto;
		margin: 0;
		padding: 50px 150px 5px 100px;
		
		p
		{
			text-align: justify;
			text-justify: inter-word;
		}
	}

	.sidebar
	{
		float: right;
		width: $sideBarWidth;
		margin: 0;
		padding: 0;
		text-align: center;

		hr
		{
			border-style: solid;
			border-width: 1px;
			border-color: $white;
		}

		p
		{
			font-size: $fontSizeDefault;
			padding-left: 10px;
			padding-right: 10px;
		}

		ul
		{
			margin: 0 0 20px 0;
			padding: 0;
			list-style-type: none;
			overflow: hidden;
		}

		li a
		{
			display: inline-block;
			font-weight: bold;
			text-decoration: none;
			float: center;
			color: $whiteGray;
			background-color: $navyBlue;
			border-radius: 5px;
			box-shadow: 2px 2px 5px $darkShadow;
			width: 40%;
			padding: 5px 0 5px 0;
			margin: 5px;

			&:hover
			{
				color: $darkFontColor;
				background-color: $whiteGray;
				transition: color $transitionSlow linear, background-color $transitionFast linear;
			}
		}
	}
}

h1
{
	font-size: $fontSizeH1;
	margin: 0;
	padding: 0;
	color: $whiteFontColor;
	text-shadow: 2px 2px 2px $darkShadow;
	padding-left: 10px;
	text-decoration: bold;

	a
	{
		color: $whiteFontColor;
		text-decoration: none;
	}
}

h2
{
	margin: 0;
	color: $darkFontColor;
}

header
{
	margin: 0;
	padding: 0;
	background-color: $navyBlue;
	box-shadow: 0 2px 1px $darkShadow;
}

footer
{
	font-family: 'Ubuntu', sans-serif;
	color: $whiteFontColor;
	position: relative;
	bottom: 0;
	height: $fontSizeFooter;
	width: 100%;
	margin: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	text-align: center;
	background-color: $navyBlue;

	hr
	{
		margin: 10px 5px 5px 0;
		padding: 0;
		border-style: solid;
		border-color: $lightGray;
		border-top-width: 1px;
		box-shadow: 1px 1px 1px $darkShadow;
	}

	p
	{
		font-size: $fontSizeSmall;
		margin: 0;
		text-shadow: 1px 1px 1px $darkShadow;
	}
}

.current
{
	background-color: $darkBlue;
	box-shadow: inset 0px 0px 5px $darkShadow;
	font-weight: bold;
	color: #fff;
}

.top-container
{
	font-family: 'Ubuntu', sans-serif;
	min-width: 800px;
	margin: 0;
	padding: 0;
	overflow: auto;
	background: linear-gradient(45deg, $darkBlue 225px, $navyBlue 225px);
	
	.top-left
	{
		float: left;
	}

	.top-right
	{
		margin-left: 125px;
		float: left;
	}
}

.nav
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;

	li
	{
		float: left;
	}

	li a
	{
		display: block;
		color: $whiteGray;
		text-align: center;
		padding: 5px 10px;
		text-decoration: none;

		&:hover
		{
			color: $darkFontColor;
			box-shadow: inset 0px 0px 0px $darkShadow;
			background-color: $whiteGray;
			text-shadow: 1px 1px 1px $darkShadow;
			transition: color $transitionSlow linear, background-color $transitionFast linear;
		}
	}
}

.nav-top
{
	padding-right: 200px;
	font-size: $fontSizeNavTop;
	text-align: left;
	box-shadow: 0px 2px 1px $darkShadow;
}

/* This class is never used */
.nav-bottom
{
	text-align: left;
	background: linear-gradient(135deg, $darkBlue 200px, $darkShadow 200px);
	box-shadow: 2px 2px 1px $darkShadow;
}